body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex-grow: 1;
}

.page-footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--dark);
}
